        <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'fournisseur.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'fournisseur.tabPan' | translate}}">
                        <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'fournisseur.reference' | translate}}<span style="color: red;">*</span></label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'fournisseur.reference' | translate}}" id="1" [(ngModel)]="item.reference"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validFournisseurReference}"  />
                                            <small class='p-error' *ngIf='!validFournisseurReference'>Reference est obligatoire.</small>
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="2">{{'fournisseur.nom' | translate}}<span style="color: red;">*</span></label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'fournisseur.nom' | translate}}" id="2" [(ngModel)]="item.nom"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validFournisseurNom}"  />
                                            <small class='p-error' *ngIf='!validFournisseurNom'>Nom est obligatoire.</small>
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="3">{{'fournisseur.telephone' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'fournisseur.telephone' | translate}}" id="3" [(ngModel)]="item.telephone"
                                                     />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="4">{{'fournisseur.email' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'fournisseur.email' | translate}}" id="4" [(ngModel)]="item.email"
                                                     />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="5">{{'fournisseur.description' | translate}}</label>
                                            <textarea id="5" pInputTextarea rows="5" cols="30" placeholder="{{'fournisseur.description' | translate}}"  [(ngModel)]="item.description"
                                                     ></textarea>
                                            
                                        </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>
            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-footer">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>



    </p-dialog>
