        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'entreeProduit.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'entreeProduit.tabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'entreeProduit.reference' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'entreeProduit.reference' | translate}}" id="1" [(ngModel)]="item.reference"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validEntreeProduitReference}"  />
                                                    <small class='p-error' *ngIf='!validEntreeProduitReference'>Reference est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'entreeProduit.dateEntreeProduit' | translate}}</label>
                                                    <p-calendar appendTo="body" id="2"  [showTime]="true" [showSeconds]="false" placeholder="{{'entreeProduit.dateEntreeProduit' | translate}}"  [(ngModel)]="item.dateEntreeProduit"
                                                            dateFormat="{{dateFormat}}"  >
                                                    </p-calendar>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="3">{{'entreeProduit.totalHT' | translate}}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="3" placeholder="{{'entreeProduit.totalHT' | translate}}" [(ngModel)]="item.totalHT"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                            <div class="field col-11 md:col-6">
                                                <label for="4">{{'entreeProduit.tauxTva' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="tauxTvas" [(ngModel)]="item.tauxTva" id="4" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="libelle" placeholder="{{'entreeProduit.tauxTva' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                                <div class="field col-12 md:col-6">
                                                    <label for="5">{{'entreeProduit.totalTVA' | translate}}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="5" placeholder="{{'entreeProduit.totalTVA' | translate}}" [(ngModel)]="item.totalTVA"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="6">{{'entreeProduit.totalHTTC' | translate}}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="6" placeholder="{{'entreeProduit.totalHTTC' | translate}}" [(ngModel)]="item.totalHTTC"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                            <div class="field col-11 md:col-6">
                                                <label for="7">{{'entreeProduit.fournisseur' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="fournisseurs" [(ngModel)]="item.fournisseur" id="7" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="reference" placeholder="{{'entreeProduit.fournisseur' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                            <div class="field col-11 md:col-6">
                                                <label for="8">{{'entreeProduit.depot' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="depots" [(ngModel)]="item.depot" id="8" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="libelle" placeholder="{{'entreeProduit.depot' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                                <div class="field col-12 md:col-6">
                                                    <label for="9">{{'entreeProduit.description' | translate}}</label>
                                                    <textarea id="9" pInputTextarea rows="5" cols="30" placeholder="{{'entreeProduit.description' | translate}}"  [(ngModel)]="item.description"
                                                             ></textarea>
                                                    
                                                </div>

                                            <div class="field col-11 md:col-6">
                                                <label for="10">{{'entreeProduit.collaborateur' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="collaborateurs" [(ngModel)]="item.collaborateur" id="10" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="prenom" placeholder="{{'entreeProduit.collaborateur' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                </div>
                            </p-tabPanel>
                                    <p-tabPanel header="{{'entreeProduit.entreeProduitItems' | translate}}">
                                        <p-tabView [(activeIndex)]="activeTab">
                                            <p-tabPanel header="Création">
                                                    <div class="grid">
                                                                    <div class="field col-11 md:col-6">
                                                                        <label>Produit<span style="color: red;">*</span></label>
                                                                        <p-dropdown  appendTo="body"  [options]="produits" [(ngModel)]="entreeProduitItemsElement.produit"
                                                                                     id="1"  [filter]="true" filterMatchMode="contains" [showClear]="true" optionLabel="reference"
                                                                                     placeholder="Produit"  [ngClass]="{'ng-invalid ng-dirty' : !validEntreeProduitItemsProduit}" >
                                                                        </p-dropdown>
                                                                        <small class='p-error' *ngIf='!validEntreeProduitItemsProduit'>Produit est obligatoire.</small>
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="2">Quantite<span style="color: red;">*</span></label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="quantite" placeholder="Quantite"  [ngClass]="{'ng-invalid ng-dirty' : !validEntreeProduitItemsQuantite}" [(ngModel)]="entreeProduitItemsElement.quantite"></p-inputNumber>
                                                                        <small class='p-error' *ngIf='!validEntreeProduitItemsQuantite'>Quantite est obligatoire.</small>
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="3">Remise<span style="color: red;">*</span></label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="remise" placeholder="Remise"  [ngClass]="{'ng-invalid ng-dirty' : !validEntreeProduitItemsRemise}" [(ngModel)]="entreeProduitItemsElement.remise"></p-inputNumber>
                                                                        <small class='p-error' *ngIf='!validEntreeProduitItemsRemise'>Remise est obligatoire.</small>
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="4">Prix unitaire ttc<span style="color: red;">*</span></label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="prixUnitaireTtc" placeholder="Prix unitaire ttc"  [ngClass]="{'ng-invalid ng-dirty' : !validEntreeProduitItemsPrixUnitaireTtc}" [(ngModel)]="entreeProduitItemsElement.prixUnitaireTtc"></p-inputNumber>
                                                                        <small class='p-error' *ngIf='!validEntreeProduitItemsPrixUnitaireTtc'>PrixUnitaireTtc est obligatoire.</small>
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="5">Prix uht<span style="color: red;">*</span></label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="prixUht" placeholder="Prix uht"  [ngClass]="{'ng-invalid ng-dirty' : !validEntreeProduitItemsPrixUht}" [(ngModel)]="entreeProduitItemsElement.prixUht"></p-inputNumber>
                                                                        <small class='p-error' *ngIf='!validEntreeProduitItemsPrixUht'>PrixUht est obligatoire.</small>
                                                                    </div>
                                                                    <div class="field col-11 md:col-6">
                                                                        <label>Taux tva</label>
                                                                        <p-dropdown  appendTo="body"  [options]="tauxTvas" [(ngModel)]="entreeProduitItemsElement.tauxTva"
                                                                                     id="6"  [filter]="true" filterMatchMode="contains" [showClear]="true" optionLabel="libelle"
                                                                                     placeholder="Taux tva"  >
                                                                        </p-dropdown>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="7">Montant ht<span style="color: red;">*</span></label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="montantHt" placeholder="Montant ht"  [ngClass]="{'ng-invalid ng-dirty' : !validEntreeProduitItemsMontantHt}" [(ngModel)]="entreeProduitItemsElement.montantHt"></p-inputNumber>
                                                                        <small class='p-error' *ngIf='!validEntreeProduitItemsMontantHt'>MontantHt est obligatoire.</small>
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="8">Montant ttc<span style="color: red;">*</span></label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="montantTtc" placeholder="Montant ttc"  [ngClass]="{'ng-invalid ng-dirty' : !validEntreeProduitItemsMontantTtc}" [(ngModel)]="entreeProduitItemsElement.montantTtc"></p-inputNumber>
                                                                        <small class='p-error' *ngIf='!validEntreeProduitItemsMontantTtc'>MontantTtc est obligatoire.</small>
                                                                    </div>
                                                        <div class="field col-12 md:col-1">
                                                            <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addEntreeProduitItems()"></button>
                                                        </div>

                                                    </div>
                                            </p-tabPanel>
                                            <p-tabPanel header="Liste {{item.entreeProduitItems?.length > 0 ? '(' + item.entreeProduitItems?.length + ')' : ''}}">
                                                    <div class="card">
                                                        <p-table [value]="item.entreeProduitItems" [scrollable]="true" scrollHeight="200px">
                                                            <ng-template pTemplate="header">
                                                                <tr>
                                                                                <th>Produit</th>
                                                                                <th>Quantite</th>
                                                                                <th>Remise</th>
                                                                                <th>Prix unitaire ttc</th>
                                                                                <th>Prix uht</th>
                                                                                <th>Taux tva</th>
                                                                                <th>Montant ht</th>
                                                                                <th>Montant ttc</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </ng-template>
                                                            <ng-template pTemplate="body" let-p>
                                                                <tr>
                                                                            <td>{{p.produit?.reference}}</td>
                                                                                <td>{{p.quantite}}</td>
                                                                                <td>{{p.remise}}</td>
                                                                                <td>{{p.prixUnitaireTtc}}</td>
                                                                                <td>{{p.prixUht}}</td>
                                                                            <td>{{p.tauxTva?.libelle}}</td>
                                                                                <td>{{p.montantHt}}</td>
                                                                                <td>{{p.montantTtc}}</td>
                                                                    <td>
                                                                        <button (click)="deleteEntreeProduitItems(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                        <button (click)="editEntreeProduitItems(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                                    </td>
                                                                </tr>
                                                            </ng-template>
                                                        </p-table>
                                                    </div>

                                            </p-tabPanel>
                                        </p-tabView>
                                    </p-tabPanel>


                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-step">
                        <div style="margin-left: auto;">
                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                        </div>
                        <div>
                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>
                        </div>

                </div>
            </ng-template>



    </p-dialog>
