        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'proprietaireChequeEffetBanque.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'proprietaireChequeEffetBanque.tabPan' | translate}}">
                                <div class="grid">

                                            <div class="field col-11 md:col-5">
                                                <label for="1">{{'proprietaireChequeEffetBanque.proprietaireChequeEffet' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="proprietaireChequeEffets" [(ngModel)]="item.proprietaireChequeEffet" id="1" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="nom" placeholder="{{'proprietaireChequeEffetBanque.proprietaireChequeEffet' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                                <div class="col-1">
                                                    <label></label>
                                                    <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateProprietaireChequeEffet('ProprietaireChequeEffet')" class="p-button-success one-colonne-btn-success-align"></button>
                                                </div>
                                            <div class="field col-11 md:col-5">
                                                <label for="2">{{'proprietaireChequeEffetBanque.banque' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="banques" [(ngModel)]="item.banque" id="2" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="libelle" placeholder="{{'proprietaireChequeEffetBanque.banque' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                                <div class="col-1">
                                                    <label></label>
                                                    <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateBanque('Banque')" class="p-button-success one-colonne-btn-success-align"></button>
                                                </div>
                                            <div class="field col-11 md:col-5">
                                                <label for="3">{{'proprietaireChequeEffetBanque.compte' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="comptes" [(ngModel)]="item.compte" id="3" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="numero" placeholder="{{'proprietaireChequeEffetBanque.compte' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                                <div class="col-1">
                                                    <label></label>
                                                    <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateCompte('Compte')" class="p-button-success one-colonne-btn-success-align"></button>
                                                </div>
                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-step">
                        <div style="margin-left: auto;">
                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                        </div>
                        <div>
                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>
                        </div>

                </div>
            </ng-template>

            <app-proprietaire-cheque-effet-create-admin></app-proprietaire-cheque-effet-create-admin>
            <app-banque-create-admin></app-banque-create-admin>
            <app-compte-create-admin></app-compte-create-admin>


    </p-dialog>
