
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'produit.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'produit.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'produit.reference' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'produit.reference' | translate}}" autofocus  id="1" [(ngModel)]="item.reference">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'produit.categorieProduit' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'produit.categorieProduit' | translate}}" autofocus  id="2" [(ngModel)]="item.categorieProduit?.reference">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'produit.libelle' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'produit.libelle' | translate}}" autofocus  id="3" [(ngModel)]="item.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'produit.marque' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'produit.marque' | translate}}" autofocus  id="4" [(ngModel)]="item.marque?.reference">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'produit.prixAchatMoyen' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="5" [disabled]="true" placeholder="{{'produit.prixAchatMoyen' | translate}}" [(ngModel)]="item.prixAchatMoyen"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'produit.prixVente' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="6" [disabled]="true" placeholder="{{'produit.prixVente' | translate}}" [(ngModel)]="item.prixVente"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="7">{{'produit.prix' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="7" [disabled]="true" placeholder="{{'produit.prix' | translate}}" [(ngModel)]="item.prix"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="8">{{'produit.remise' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="8" [disabled]="true" placeholder="{{'produit.remise' | translate}}" [(ngModel)]="item.remise"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="9">{{'produit.prixUnitaireTtc' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="9" [disabled]="true" placeholder="{{'produit.prixUnitaireTtc' | translate}}" [(ngModel)]="item.prixUnitaireTtc"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="10">{{'produit.prixUht' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="10" [disabled]="true" placeholder="{{'produit.prixUht' | translate}}" [(ngModel)]="item.prixUht"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="11">{{'produit.tauxTva' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'produit.tauxTva' | translate}}" autofocus  id="11" [(ngModel)]="item.tauxTva?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="12">{{'produit.montantHt' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="12" [disabled]="true" placeholder="{{'produit.montantHt' | translate}}" [(ngModel)]="item.montantHt"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="13">{{'produit.montantTtc' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="13" [disabled]="true" placeholder="{{'produit.montantTtc' | translate}}" [(ngModel)]="item.montantTtc"></p-inputNumber>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



